<template>
    <v-container>
      <Users />
      <Shops/>
      <Payments/>
  </v-container>
</template>

<script>
  import Users from '../components/Users'
  import Shops from '../components/Shops'
  import Payments from '../components/Payments'
  export default {
    name: 'Home',

    components: {
      Users,
      Shops,
      Payments
    },
  }
</script>
