<template>
    <v-container>
      <PublicData />
      <PrivateData v-if="$store.getters.isAdmin"/>
  </v-container>
</template>

<script>
  import PublicData from '../components/PublicData'
  import PrivateData from '../components/PrivateData'
  export default {
    name: 'Home',

    components: {
      PublicData,
      PrivateData
    },
  }
</script>
