<template>
  <v-container>
    <v-row class="text-center">
      <v-col>

        <v-card>
          <v-card-title>
            Last Payments
          </v-card-title>
          <v-card-text>
            <v-row v-for="(payment, key) in payments" v-bind:key="key">
              <v-col>
                {{payment.price}}
              </v-col>
              <v-col>
                {{payment.product_type}}
              </v-col>
              <!-- <v-col>
                {{shop.address}}
              </v-col>
              <v-col>
                {{shop.phone}}
              </v-col> -->
            </v-row>

          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>

export default {
  name: 'Payments',

  data() {
    return {
      coins: 0
    };
  },
  computed: {
    payments: ({$store}) => $store.getters.getPayments
  },
  mounted() {
    this.$store.dispatch('getPayments')
  },
  methods: {
    upload(user_id) {
      console.log(user_id)
    }
  }
}

</script>

<style>
.cargols-number {
  font-size: 1000pt
}
</style>
