<template>
  <v-container>
    <v-row class="text-center">
      Private data
    </v-row>
  </v-container>
</template>

<script>
  export default {
    name: 'PrivateData',

    data: () => ({
    }),
  }
</script>
