<template>
  <v-container>
    <v-row class="text-center">
      <v-col>

      <v-card>
        <v-card-title>
          Daily Transactions
        </v-card-title>
        <v-card-text>
          <div width="500" height="270" id="DailyTransactions">
          </div>
        </v-card-text>
      </v-card>
    </v-col>
    </v-row>
    <v-row class="text-center">
      <v-col cols="4">

      <v-card class="mx-auto">
        <v-card-title>
          Transaccions totals
        </v-card-title>
        <v-card-text>
          <span class="cargols-number"> {{totalData.transactions }}</span>
        </v-card-text>
      </v-card>
    </v-col>
    <v-col cols="4">

    <v-card class="mx-auto">
      <v-card-title>
        Cargol$ en circulació
      </v-card-title>
      <v-card-text>
        <span class="cargols-number"> {{totalData.coins }}</span>
      </v-card-text>
    </v-card>
  </v-col>
    <v-col cols="4">

    <v-card>
      <v-card-title>
        Transaccions per Barris
      </v-card-title>
      <v-card-text>
        <v-row v-for="(barri, index) in neiborhood_data" v-bind:key="index">
          <v-col>
            {{ barri.name }}
          </v-col>
          <v-col>
            ${{ barri.coins }}
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </v-col>
    </v-row>
  </v-container>
</template>

<script>
import * as d3 from 'd3';

  export default {
    name: 'PublicData',

    data() {
      return {
        neiborhood_data: [
          {
            'name': 'Balafia',
            'coins': '10000'
          },
          {
            'name': 'Ciurat Jardi',
            'coins': '10000'
          },
          {
            'name': 'Mariola',
            'coins': '10000'
          }
        ],
        data: [99, 71, 78, 25, 36, 92],
        line: '',
        cargols_totals: 1000
      };
    },
    computed: {
      totalData: ({$store}) => $store.getters.getTotalData
    },
    mounted() {
      this.$store.dispatch('getTotalData')
      this.buildGraphic();
    },
    methods: {
      getMax(collection) {
          var max = 0

          collection.forEach(function (element) {
            max = element > max ? element : max
          })

          return max
      },
      buildGraphic() {
        // Sample dataset. In a real application, you will probably get this data from another source such as AJAX.
        var dataset = [5, 10, 15, 20, 25]

        // Sizing variables for our chart. These are saved as variables as they will be used in calculations.
        var chartWidth = 1000
        var chartHeight = 400
        var padding = 5

        // We want our our bars to take up the full height of the chart, so, we will apply a scaling factor to the height of every bar.
        var heightScalingFactor = chartHeight / this.getMax(dataset)

        // Here we are creating the SVG that will be our chart.
        var svg = d3
          .select('#DailyTransactions')           // I'm starting off by selecting the container.
            .append('svg')               // Appending an SVG element to that container.
            .attr('width', chartWidth)   // Setting the width of the SVG.
            .attr('height', chartHeight) // And setting the height of the SVG.

        // The next step is to create the rectangles that will make up the bars in our bar chart.
        svg
          .selectAll('rect')                                          // I'm selecting all of the rectangles in the SVG (note that at this point, there actually aren't any, but we'll be creating them in a couple of steps).
          .data(dataset)                                              // Then I'm mapping the dataset to those rectangles.
          .enter()                                                    // This step is important in that it allows us to dynamically create the rectangle elements that we selected previously.
            .append('rect')                                           // For each element in the dataset, append a new rectangle.
              .attr('x', function (value, index) {                    // Set the X position of the rectangle by taking the index of the current item we are creating, multiplying it by the calculated width of each bar, and adding a padding value so we can see some space between bars.
                  return (index * (chartWidth / dataset.length)) + padding
                })
              .attr('y', function (value) {                    // Set the rectangle by subtracting the scaled height from the height of the chart (this has to be done becuase SVG coordinates start with 0,0 at their top left corner).
                return chartHeight - (value * heightScalingFactor)
              })
              .attr('width', (chartWidth / dataset.length) - padding) // The width is dynamically calculated to have an even distribution of bars that take up the entire width of the chart.
              .attr('height', function (value) {               // The height is simply the value of the item in the dataset multiplied by the height scaling factor.
                return value * heightScalingFactor
              })
              .attr('fill', 'green')                                   // Sets the color of the bars.

        /**
         *  Gets the maximum value in a collection of numbers.
         */

      }
    }
  }

</script>

<style>
.cargols-number {
  font-size: 60pt
}
</style>
