<template>
  <v-container>
    <v-row class="text-center">
      <v-col>

        <v-card>
          <v-card-title>
            Shops List
          </v-card-title>
          <v-card-text>
            <v-row v-for="(shop, key) in shops" v-bind:key="key">
              <v-col>
                {{shop.identifier}}
              </v-col>
              <v-col>
                {{shop.username}}
              </v-col>
              <v-col>
                {{shop.address}}
              </v-col>
              <v-col>
                {{shop.phone}}
              </v-col>
              <v-col>
                <v-btn icon @click="upload(shop.identifier)">
                  <v-icon dark>
                    mdi-cloud-upload
                  </v-icon>
                </v-btn>
              </v-col>
            </v-row>

          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>

export default {
  name: 'PublicData',

  data() {
    return {
      coins: 0
    };
  },
  computed: {
    shops: ({$store}) => $store.getters.getShops
  },
  mounted() {
    this.$store.dispatch('getShops')
  },
  methods: {
    upload(user_id) {
      console.log(user_id)
    }
  }
}

</script>

<style>
.cargols-number {
  font-size: 1000pt
}
</style>
