<template>
  <v-container>
    <v-row class="text-center">
      <v-col>

        <v-card>
          <v-card-title>
            User List
          </v-card-title>
          <v-card-text>
            <v-row v-for="(user, key) in users" v-bind:key="key">
              <v-col>
                {{user.username}}
              </v-col>
              <v-col cols="1">
                <v-text-field v-model="coins">
                  <v-icon
                    slot="append"
                    color="red"
                    @click="coins += 1"
                  >
                    mdi-plus
                  </v-icon>

                  <v-icon
                    slot="prepend"
                    color="green"
                    @click="coins -= 1"
                  >
                    mdi-minus
                  </v-icon>
                </v-text-field>

              </v-col>
              <v-col>
                <v-btn icon @click="upload(user.identifier)">
                  <v-icon dark>
                    mdi-cloud-upload
                  </v-icon>
                </v-btn>
              </v-col>
            </v-row>

          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>

export default {
  name: 'PublicData',

  data() {
    return {
      coins: 0
    };
  },
  computed: {
    users: ({$store}) => $store.getters.getUsers
  },
  mounted() {
    this.$store.dispatch('getUsers')
  },
  methods: {
    upload(user_id) {
      console.log(user_id)
    }
  }
}

</script>

<style>
.cargols-number {
  font-size: 1000pt
}
</style>
