<template>
  <v-container>
    <v-row>
      <v-col cols="6" >
        <v-row>
          <v-col>
            <h1>
              Benvingudes al Dashboad de Cargol$
            </h1>
            Caragol$ és una moneda Social pensada per ser utilitzada a la ciutat
            de lleida pensada per mantenir viu i incentivar el consum local a la
            ciutat de lleida
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="6">
        <router-view/>
      </v-col>
    </v-row>
  </v-container>
</template>


<script>
export default {
  name: "Access",
  data: () => ({

  })
}


</script>
<style lang="scss" scoped>
</style>
