<template>
  <v-row>
    <v-col>
      <v-card
         class="mx-auto"
      >

         <v-card-title>
           Login
         </v-card-title>

         <v-card-subtitle>
           Welcome Again to Cargol$ dashboard
         </v-card-subtitle>

         <v-form @submit.prevent="submit" ref="form" v-model="valid">
         <v-card-text >
             <v-text-field
             label="username" outlined required name="username" :rules="emailRules" v-model="username" append-icon="mdi-email"></v-text-field>
             <v-text-field label='password' name="password" :rules="passwordRules" outlined v-model="password" :append-icon="show ? 'mdi-eye-off' : 'mdi-eye'" :type="show ? 'text' : 'password'" @click:append="show = !show">
             </v-text-field>
         </v-card-text>
       </v-form>

         <v-card-actions>
           <v-btn  lite text  type="submit" :disabled="!valid" v-on:click="submit" >
             Login
           </v-btn>

           <v-spacer></v-spacer>

           <v-btn
           @click="SignUpView"
           >
             Sign Up
           </v-btn>
         </v-card-actions>


       </v-card>
    </v-col>
  </v-row>

</template>

<script type="text/javascript">


export default {
  name: "Access",
  data: () => ({
    valid: false,
     emailRules: [
       v => !!v || 'E-mail is required',
     ],
     passwordRules: [
       v => !!v || 'Password is required'
     ],
     username: '',
     password: '',
     show: false
  }),
  methods: {
    SignUpView() {
      this.$router.push({ name: "signup" })
    },
    submit() {
      const userdata = new FormData(document.querySelector('form'))
      this.$store.dispatch('login',{"username": userdata.get("username"), "password" : userdata.get("password")})
      .then( () => {
        this.$router.push({ name: "Home" })
      })
    }
  },
  mounted() {
    //do something after mounting vue instance
  }
}
</script>
