<template>
  <v-row>
    <v-col>
      <v-card
         class="mx-auto"
       >

         <v-card-title>
           Sign Up
         </v-card-title>

         <v-card-subtitle>
           Welcome to Cargol$ dashboard
         </v-card-subtitle>
         <v-form @submit.prevent="submit" ref="form" v-model="valid">
         <v-card-text >
             <v-text-field
             label="username" outlined required name="username" :rules="emailRules" v-model="username" append-icon="mdi-email"></v-text-field>
             <v-text-field label='email' name="email" :rules="emailRules" outlined v-model="email" append-icon="mdi-email" >
             </v-text-field>
             <v-text-field label='password' name="password" :rules="passwordRules" outlined v-model="password" :append-icon="show ? 'mdi-eye-off' : 'mdi-eye'" :type="show ? 'text' : 'password'" @click:append="show = !show">
             </v-text-field>
         </v-card-text>
       </v-form>
         <v-card-actions>
           <v-btn lite text  type="submit" :disabled="!valid" v-on:click="submit"
           >
             SignUp
           </v-btn>

           <v-spacer></v-spacer>

           <v-btn
           @click="SignUpView"
           >
             Login
           </v-btn>
         </v-card-actions>


       </v-card>
    </v-col>
  </v-row>

</template>

<script type="text/javascript">

export default {
  name: "Access",
  data: () => ({
    valid: false,
     emailRules: [
       v => !!v || 'E-mail is required',
     ],
     passwordRules: [
       v => !!v || 'Password is required'
     ],
     username: '',
     email:'',
     password: '',
     show: false
  }),
  methods: {
    SignUpView() {
      this.$router.push({ name: "login" })
    },
    submit() {
      const userdata = new FormData(document.querySelector('form'))
      const data = {
        "username": userdata.get("username"),
        "password" : userdata.get("password"),
        "email": userdata.get("email")
      }
      this.$store.dispatch('signup', data)
      .then( () => {
        this.$router.push({ name: "login" })
      })
    }
  }
}
</script>
