<template>
  <v-app>
    <v-app-bar
    app
    color="dark"
    dark
    >
    <div class="d-flex align-center">
      <v-btn
      to="/"
      text
      >
      Cargol$
    </v-btn>

    </div>

    <v-spacer></v-spacer>

    <v-btn
    to="login"
    text
    v-if="!$store.getters.isLogged"
    >
    Login
  </v-btn>
  <v-btn
  to="signup"
  text
  v-if="!$store.getters.isLogged"
  >
  SignUp
</v-btn>
<v-btn
to="admin"
text
v-if="$store.getters.isLogged"
>
Admin
</v-btn>
<v-menu offset-y>
  <template v-slot:activator="{ on, attrs }">
    <v-btn
    dark
    text
    v-bind="attrs"
    v-on="on"
    >
    {{ $store.getters.username }}
  </v-btn>
</template>
<v-list>
  <v-list-item
  v-for="(item, index) in items"
  :key="index"
  >
  <v-list-item-title>{{ item.title }}</v-list-item-title>
</v-list-item>
</v-list>
</v-menu>
</v-app-bar>

<v-main>
  <router-view/>
</v-main>
</v-app>
</template>

<script>

export default {
  name: 'App',

  data: () => ({
    "items": [
      {
        "title": "profile"
      },
      {
        "title": "logout"
      }
    ]
  }),
};
</script>
